{
    "engineer": {
        "name": "{{name}}",
        "surname": "{{surname}}",
        {{#project}}
            "assignment": {
                "project": "{{project}}",
                "role": "{{role}}"
            }
        {{/project}}
    }
}